<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<false/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Developer/CoreSimulator</string>
		<string>/Library/Developer/DeveloperDiskImages</string>
		<string>/Library/Developer/Xcode</string>
		<string>/Library/Developer/XCPGDevices</string>
		<string>/Library/Developer/XCTestDevices</string>
	</array>
</dict>
</plist>
